#title {
	text-align: center;
	font-size: 40px;
}

#subtitle {
	font-size: 14px;
	text-align: center;
	font-weight:300;
}

#img-div {
	text-align: center;
	width:100%;
	background-color: white;
}

#image {
	max-width:100%;
	display:block;
	height:auto;
	margin: auto;
}

#subtitle2 {
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	padding-top: 25px;
}


#tribute-info {
	width: 25%;
	margin: auto;
	font-size: 16px;
	font-weight: 500;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 25px;


}

.quote {
	width: 25%;
	margin: auto;
	font-weight: 300; 
	font-size:16px;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 25px;
}

#moreinfo {
	width:50;
	margin:auto;
	font-weight: 600;
	text-align: center;
	font-size: 20px;
}

body {
	background-color: #ebedf0;
	font-family: 'Raleway', sans-serif;
	padding: 25px;
	line-height: 25px;
	word-spacing: 3px;
}